@import "./mixin";
// @import "./veriables";

.footer {
    background-color: $background-color2 ;
    @include flex-center;
    flex-direction: column;
    gap: 113px;
    padding: 53px 16px 0 16px;
}
.footer__top {
    @include flex-center (space-between);
    gap: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 139px;
    padding: 10.5px 33.5px;
    // width: 342px;
    // height: 72px;
}
.footer__symbol {
    width: 53px;
    height: 53px;
}
.footer__link {
    display: block;
    @include flex-center (start);
    align-items: start;
    gap: 4px;
    flex-direction: column;
}
.link__title {
    display: block;
    font-family: $font-stack2;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: $font-color;
}
.link__info {
    @include flex-center (space-between);
    gap: 24px;
}
.footer__text {
    font-family: $font-stack1;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: $font-color;    
}
.footer__social-media {
    @include flex-center;
    flex-direction: column;
    gap: 21px;
    padding: 0 88px 40px 88px;
}
.social-media__wrapper {
    @include flex-center (space-between);
    gap: 34px;
}
.footer__copyright {
    font-family: $font-stack1;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: $font-color;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .footer {
        padding: 96px 32px 0 32px;
        gap: 60px;
    }
    .footer__top {
        gap: 45px;
        padding: 21px 37px;
    }
    .footer__symbol {
        width: 108px;
        height: 108px;
    }
    .link__title {
        font-size: $font-size-medium;
    }
    .footer__link {
        gap: 17px;
    }
    .footer__text, .footer__copyright {
        font-size: 24px;   
    }
    .footer__icon {
        width: 57px;
        height: 29px;
    }
    .footer__social-media {
        padding-bottom: 35px;
    }
}

@media (min-width:1200px) {
    .footer {
        gap: 163px;
        padding-top: 78px;
    }
    .footer__top {
        gap: 45px;
        padding: 42px 137px;
    }
    .footer__symbol {
        width: 108px;
        height: 108px;
    }
    .link__title {
        font-size: $font-size-medium;
    }
    .footer__link {
        gap: 17px;
    }
    .footer__text, .footer__copyright {
        font-size: 24px;   
    }
    .footer__icon {
        width: 57px;
        height: 29px;
    }
    .footer__social-media {
        padding-bottom: 30px;
    }
}