@import "./mixin";

.header {
    @include flex-center (space-between);
    padding: 18px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

}
.navbar-button {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 20px;
    width: 56px;
    height: 56px;
    background-color: rgba(252, 235, 8, -8.5);
}
.navbar__list {
    display: none;
}
@media (min-width: 768px) and (max-width: 1200px) {
    .header {
        padding: 34px;
    }
}

@media (min-width:1200px) {

    .header {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 75vw;
        background-color: rgba(0,0,0,-70.9);
        font-family: $font-stack1;
        font-size: $font-size-small;
        font-weight: 700;
        padding: 18px 195px 18px 195px; 
    }
    .navbar-button {
        display: none;
    }
    .navbar__list {
        @include flex-center (space-between);
        // display:flex;
        // justify-content: space-between;
        // align-items: center;
        gap: 20px;
    }
    .navbar__list-item {
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 10px 16px;

    }
    .navbar__list-icon {
        margin-right: 13px;
    }
}