@mixin project-card ($padding: 12px, $height: 518px) {
    border-radius: 24px;
    padding: $padding;
    width: 343px;
    height: $height;
    background: #fffef2;

    display: flex;
    flex-direction: column;
    gap: 22px;
 }

 @mixin flex-center ($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
 }

