@import "./mixin";

.section-design {
    @include flex-center;
    background-color: $background-color2;
    // display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    gap: 40px;
    padding: 63px 16px 63px 16px;
}
.section-design__heading {
    font-family: $font-stack2;
    font-size: $font-size-medium-mobile;
    font-weight: 700;
}
.design__card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
.design__card {
    @include flex-center;
    position: relative;
    width: 343px;
    height: 325px;  
    // display: flex;
    // justify-content: center;
    // align-items: center;


}
.design__card-background {
    display: block;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
.design__card-background--dark {
    filter: brightness(0.5) grayscale(100%);
}
.design__card-icon-1 {
    width: 172px;
    height: 172px;
    position: absolute;
}
.design__card-icon-2 {
    width: 134px;
    height: 137px;
    position: absolute;
}
.design__card-icon-3 {
    width: 148px;
    height: 143px;
    position: absolute;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .section-design {
        padding: 82px 32px 129px 32px;
    }
    .section-design__heading {
        font-size: $font-size-large;
        padding-bottom: 38px;
    }
    .design__card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 414px 1fr;
        gap: 26px;
    }
 
    .design__card {
        width: 343px;
    }
    .design__card-1 {
        grid-column: 1 / 3;
        width: auto;
        height: auto;
    }
    .design__card-icon-1 {
        width: 227px;
        height: 227px;
    }
    .design__card-icon-2 {
        width: 147px;
        height: 151px;
    }
    .design__card-icon-3 {
        width: 183px;
        height: 177px;
    }
}   

@media (min-width: 1200px) {
    .section-design {
        padding: 82px 195px 138px 195px;
        
    }
    .section-design__heading {
        font-size: $font-size-large;
        padding-bottom: 50px;
        text-align: start;
    }
    .design__card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        gap: 26px;
    }
    .design__card {
        width: 514px;
        height: 414px; 
    }
    .design__card-1 {
        grid-column: 1 / 3;
        width: auto;
    }
    .design__card-icon-1 {
        width: 268px;
        height: 268px;
    }
    .design__card-icon-2 {
        width: 187px;
        height: 191px;
    }
    .design__card-icon-3 {
        width: 233px;
        height: 225px;
    }
}