@import "./mixin";

.section-projects {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $background-color3;
    gap: 63px;
    padding: 63px 16px 74px 16px;
}

.project {
    @include project-card;
}
.project--first {
    @include project-card(16px, 488px);
    border-radius: 24px;
    width: 343px;
    background: #fffef2;

    display: flex;
    flex-direction: column;
    gap: 22px;
}
.project__link {
    display: block;
    position: relative;
}
.project__link-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}
.project__link--tablet, 
.project__link--screen {
    display: none;
}
.project__image {
    border-radius: 13px;
    width: 100%;
    height: 363px;
    margin-bottom: 20px;
}
.project__image--first-small {
    height: 278px !important;
}
.project__image--first-medium,
.project__image--first-large {
    display: none;
}
.project__name {
    display: block;
    font-family: $font-stack2;
    font-weight: 700;
    font-size: 24px;
    color: #565656;
}
.project__name--first {
    font-weight: 600;
    font-size: 32px;
}
.project__info {
    font-family: $font-stack1;
    font-weight: 500;
    font-size: $font-size-small-mobile;
    color: #000;

}
.project__info--first {
    font-weight: 700;
}
.project--mobile-hide,
.project--hide {
    display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .section-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 63px 32px 113px 32px;
        row-gap: 100px;
    }
    .project {
        height: 634px;
        width: 328px;
        padding: 20px;
        
    }
    .project--mobile-hide {
        display: flex;

    }
    .project--first{
        width: auto;
        grid-column: 1 / 3;
        height: 680px;
        width: 703px;
        padding: 24px 20px 24px 20px;
        
    }
    .project__link--tablet{
        display: block;
    }
    .project__link--mobile, 
    .project__link--screen {
    display: none;
}
    .project__image--first-small,
    .project__image--first-large {
        display: none;
    }
    .project__image--first-medium {
        display: block;
        height: 662px;
        width: 100%;
    }
    .project__image {
        height: 448px;
    }
    .project__name {
        font-size: 27px;
    }
    .project__name--first {
        font-size: 40px;
    }
    .project__info {
        font-size: $font-size-small;
    
    }
    .project__info--first {
        font-weight: 700;
    }

}
@media (min-width: 1200px) {
    .section-projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 130px 195px 130px 195px;
        row-gap: 100px;
    }
    .project--first{
        width: auto;
        height: 680px;
        grid-column: 1 / 4;
    }
    .project {
        height: 545px;
    }
    .project__image--first-small,
    .project__image--first-medium {
        display: none;
    }
    .project--hide,
    .project--mobile-hide {
        display: flex;
    }
    .project {
        height: 545px;
        width: 325px;
        padding: 20px;
    }
    .project__link--screen{
        display: block;
    }
    .project__link--mobile, 
    .project__link--tablet {
    display: none;
    }
    .project__image {
        height: 338px;
    }
    .project__image--first-large {
        display: block;
        height: 498px;
    }
}