.section-info {
    background-color: $background-color2; 
    height: 50vh;
    display: flex;
    justify-items: center;
    align-items: center;
}
.section-info__image {
    height: 100%;
    width: 100%;
    background-image: url(../images/crossed-elipses-small.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.section-info__main {
    display: flex;
    flex-direction: column;
    padding: 74px 16px 74px 16px;
    gap: 40px;
}
.section-info__heading {
    display: block;
    width: 60%;
    font-family: $font-stack2;
    font-size: $font-size-medium-mobile;
    font-weight: 700;
    color: #faeb49;
    display: block;
}
.section-info__text {
    display: block;
    width: 80%;
    font-family: $font-stack1;
    font-size: $font-size-small-mobile;
    font-weight: 500;

}
.section-info__statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
}
.statistics-text,
.statistics-number {
    display: block;
    width: 60%;
    font-weight: 700;
} 
.statistics-number {
    font-family: $font-stack2;
    font-size: $font-size-medium-mobile;
    margin-bottom: 5px;
}
.statistics-text {
    font-family: $font-stack1;
    font-size: $font-size-small;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .section-info {
        height: 40vh;
    }
    .section-info__image {
        background-image: url(../images/crosses-elipses-medium.svg); 
    }
    .section-info__main {
        padding: 102px 0 102px 33px;
    }
    .section-info__heading, 
    .statistics-number {
        font-size: $font-size-medium;
    }
    .section-info__text {
        font-size: $font-size-small;
    }
    .section-info__heading,
    .section-info__text {
        width: 70%;
    }
    .section-info__statistics {
        width: 85%;
    }

}

@media (min-width: 1200px) {
    .section-info {
        height: 50vh;
    }
    .section-info__image {
            background-image: url(../images/crosses-elipses-large.svg); 
        }
        .section-info__main {
            padding-left: 191px;
        }
        .section-info__heading, 
        .statistics-number {
            font-size: $font-size-medium;
        }
        .section-info__text {
            font-size: $font-size-small;
        }
        .section-info__heading,
        .section-info__text,
        .section-info__statistics {
            width: 50%;
            }
}