.section-quote {
    @include flex-center;
    // background-image: url(../images/Rectangle\ 8.jpg);
    background-position: center;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    width: 100vw;
    height: 50vh;
}
.section-quote--background {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(0.5) grayscale(100%);
}
.section-quote__text {
    display: block;
    font-family: $font-stack2;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    width: 70vw;
    position: absolute;

}
@media (min-width: 768px) and (max-width: 1200px) {
    .section-quote__text {
        font-size: $font-size-medium;
        line-height: 58px;
    }
}

@media (min-width: 1200px) {
    .section-quote__text {
        font-size: $font-size-medium;
        line-height: 58px;
    }
}
