.top-section {
    background: $background-color1;
    display: flex;
    flex-direction: column;
    gap: 300px;
    position: relative;
    height: 100vh;
    width: 100vw;

}

.top-section__heading {
    padding: 18px;
    display: inline-block;
    font-family: $font-stack2;
    font-weight: 700;
    font-size: $font-size-medium;            
    text-align: start;
    // padding-bottom: 200px;
    position: relative;
    top: 180px
}
@media (min-width: 768px) and (max-width: 1200px) {
    
    .top-section__heading {
        font-size: $font-size-large; 
        width: 70%;
        padding: 34px;
        top: -143px
    }
}
@media (min-width: 1200px) {

    .top-section{
        text-align: center;
        
    }
    .top-section__heading {
    font-size: $font-size-large; 
    text-align: center;
    width: 80vw;
    top: 600px;
}
}