$font-stack1: Manrope, sans-serif;
$font-stack2: DynaPuff, sans-serif;
$font-color: #fff;
$font-size-large: 80px;
$font-size-medium: 48px;
$font-size-small: 16px;
$font-size-small-mobile: 15px;
$font-size-medium-mobile: 36px;
$background-color1: linear-gradient(225deg, #ffee32 0%, #d6d6d6);
$background-color2: #202020;
$background-color3: #3c3c3c;

