@import "./veriables";
@import "./header";
@import "./top-section";
@import "./section-info";
@import "./section-projects";
@import "./mixin";
@import "./section-design";
@import "./footer";
@import "./section-quote";

body {
    color: $font-color;
}
a {
    text-decoration: none;
    cursor: pointer;
}